<div ng-controller="userMain" ng-init = "init()" layout="row" ng-cloak layout-padding>
<md-content flex layout="column" class="container">

    <md-content class="frame" layout="column" layout-align="start center" layout-padding flex>
    <h2>{{'YOUR_VISITATIONS' | translate}}</h2>
        <div class="container">

            <md-card>
                <md-card-content>
                    <md-list width = "85%" flex>
                        <md-list-item class="md-3-line" ng-repeat="pozivnica in futureVisits | orderBy: '-rezervacija.datetime'" ng-click="openDetailsP(pozivnica)" ng-show="futureVisits.length > 0">
                        	<div class="md-list-item-text" layout="column">
					         <p style = "color:FF6600; font-size:130%;"> <strong>{{ pozivnica.rezervacija.restoran.naziv }}</strong> </p>
                             <label>Vreme:<label> 
  							<input type="datetime-local" ng-model = "pozivnica.rezervacija.datetime" readonly>
  							<p>Poziva vas: {{pozivnica.rezervacija.user.name}}</p>
  							<label>Status: {{pozivnica.status}}</label>
                            </div>
                            <md-icon class="material-icons">pageview</md-icon>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item ng-show="futureVisits.length === 0"> <label>{{ "NO_VISITATIONS_FOUND" | translate}}</label></md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</md-content>